@charset "UTF-8";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #404040;
}

::-webkit-scrollbar-thumb {
  background: #101010;
  border-radius: 100px;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(127,0,255,1) 0%, rgba(225,0,255,1) 100%);
    overflow-x: hidden;
}

@media screen and (min-width: 320px) {
    footer, .subTitle {
      font-size: calc(15px + 5 * ((100vw - 320px) / 680));
    }

    .name {
        font-size: calc(30px + 20 * ((100vw - 320px) / 680));
    }

    .sideNavClass a {
        font-size: calc(15px + 15 * ((100vw - 320px) / 680));
    }

    #button {
        width: calc(40px + 25 * ((100vw - 320px) / 680));
        height: calc(40px + 25 * ((100vw - 320px) / 680));
    }
    .title {
        font-size: calc(15px + 15 * ((100vw - 320px) / 680));
        line-height: 0px;
    }
    
    .text {
        font-size: calc(15px + 5 * ((100vw - 320px) / 680));
        padding-top: 8%;
    }

    .underline {
        height: 5px;
        width: 50px;
    }
    ul {
        font-size: calc(15px + 5 * ((100vw - 320px) / 680));
    }

    .logo {
        width: calc(50% + 50 * ((100vw - 320px) / 680));;
    }
    .list a{
        font-size: calc(25px + 5 * ((100vw - 320px) / 680)); 
    }
}

@media screen and (min-width: 1000px) {
    footer, .subTitle {
      font-size: 15px;
    }

    .name {
        font-size: 50px;
    }

    .nav a {
        font-size: 30px;
    }

    #button {
        width: 50px;
        height: 50px;
    }

    .title {
        font-size: 30px;
        line-height: 0px;
    }
    
    .text {
        font-size: 20px;
        padding-top: 2%;
    }

    .underline {
        height: 5px;
        width: 100px;
    }
    ul {
        font-size: 20px;
    }

    .logo {
    width: 100%;
    }
}

a:link, a:visited {
    text-decoration:none;
    color: #ffffff;
}

#background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -3;
    opacity: 0.15;
}

#background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;   
}

#fade {
    background-color: #000000;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -2;
    transition: 0.3s;
}

#button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 5%;
    right: 5%;
    z-index: 1;
}

.icon{
    width: 100%;
    height: 100%;
    position: relative;
}

.line {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #ffffff;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
    top: 0%;
}

.middle {
    top: 50%;
}

.bottom {
    top: 100%;
}

.icon.close .top {
    transform: rotate(45deg);
    top: 45%;
}

.icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);
    top: 45%;
}

.nav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 0.5;
    top: 0;
    right: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
}

.list {
    position: absolute;
    left: 10%;
    top: 45%;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    display: block;
    cursor: pointer;
}

.about {
    width: 50%;
    height: 90%;
    left: 25%;
    position: absolute;
    top: 10%;
    display: none;
    z-index: 1;
    animation-delay: 5s;
    animation-duration: 2s;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

.underline {
    position: absolute;
    background: linear-gradient(90deg, rgba(127,0,255,1) 0%, rgba(225,0,255,1) 100%);
}

#center {
    text-align: center;
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
}

.name {
    font-weight: 500;
    line-height: 0px;
}
  
.subTitle {
    font-weight: 400;
    line-height: 0px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-bottom: 0%;
    z-index: -1;
}

.contact {
    word-spacing: 10px;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-29 22:32:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
            animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
